footer {
  background: $main-color;
  @include three-round-borders;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  figure {
    margin: 0;
  }
}

.footer__playlist-button,
.footer__mail-button,
.footer__search-button,
.footer__paste-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: transparent;
  border: none;
}

.footer__logo {
  margin: 0 0 0 1rem;
}

.footer__logo__svg {
  opacity: 0.9;
}

.footer__logo__text,
.footer__paste-button__text,
.footer__playlist-button__text,
.footer__mail-button__text {
  color: $light-color;
}

.footer__playlist-button__icon,
.footer__playlist-button__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__playlist-button__icon {
  flex-flow: column;
}

.footer__playlist__counter {
  align-self: center;
  color: $accent-color2;
}
