footer {
  background: $main-color;
  @include three-round-borders;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
}

.footer__playlist-button,
.footer__mail-button,
.footer__search-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: transparent;
  border: none;
}

.footer__playlist-button__text,
.footer__mail-button__text,
.footer__search-button__text {
  color: white;
}

.footer__logo {
  margin: 0 0 0 1rem;
}

.footer__logo__svg {
  opacity: 0.9;
}

.footer__logo__text {
  color: #fff;
}

.footer__playlist-button__icon,
.footer__playlist-button__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__playlist-button__svg {
  //   justify-content: flex-start;
  //   justify-self: flex-start;
  //   align-self: center;
}

.footer__playlist__counter {
  //   justify-items: flex-end;
  align-self: center;
  color: $accent-color2;
}
