header {
  background: $main-color;
  @include three-round-borders;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  @include box-shadow;
  nav {
    margin: 0 2rem 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: $light-color;
    }
  }
  p {
    margin: 0;
  }
}

.corona__hashtag {
  color: $light-color;
  font-size: 0.75rem;
}

.header__instructions {
  color: $accent-color2;
  background: transparent;
  border: none;
  @include tablet {
    font-size: 1.1rem;
  }
  @include desktop {
    font-size: 1.2rem;
  }
}

.header__logo {
  margin: 0 0 0 2rem;
}

.header__logo__icon {
  display: flex;
  justify-content: center;
}

.header__logo__svg {
  opacity: 0.9;
}

.header__logo__text {
  color: $light-color;
}
