header {
  background: $main-color;
  @include three-round-borders;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  @include box-shadow;

  nav {
    margin: 0 2rem 0;

    a {
      text-decoration: none;
      color: $light-color;
    }
  }
}

.header__paste {
  color: $accent-color2;
  background: transparent;
  border: none;
}

.header__logo {
  margin: 0 0 0 2rem;
}

.header__logo__icon {
  display: flex;
  justify-content: center;
}

.header__logo__svg {
  opacity: 0.9;
}

.header__logo__text {
  color: $accent-color2;
}
