main {
  flex-grow: 1;
  padding: 0 0.2rem;
  overflow: auto;
}

.main__content {
  @include desktop {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.07rem;
}
h2 {
  font-size: 1.1rem;
  margin: 0.75rem 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: $accent-color2;
}

.tablet__notification {
  display: none;
  border-radius: 0.6rem;
  border: 2px solid $main-color;
  width: 99%;
  margin: 0.2rem 0;
  position: relative;
  padding: 0.2rem 0.5rem;
  text-align: center;
  @include box-shadow;
  @include tablet {
    display: block;
  }
}
