main {
  flex-grow: 1;
  padding: 0 0.2rem;
  overflow: auto;
}

.main__content {
  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

a {
  text-decoration: none;
  color: $accent-color2;
}
