@mixin three-round-borders {
  border-radius: 0.6rem 0.6rem 0 0.6rem;
}
@mixin border-main-color {
  border: 2px solid $main-color;
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
}
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
