@mixin three-round-borders {
  border-radius: 0.6rem 0.6rem 0 0.6rem;
}

@mixin box-shadow {
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 5px -10px rgba(0, 0, 0, 0.51);
}
