.results {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @include tablet-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.result__card {
  @include three-round-borders;
  border: 2px solid $main-color;
  width: 99%;
  margin: 0.2rem auto;
  position: relative;
  @include box-shadow;
  @include tablet {
    width: 98%;
    font-size: 1rem;
  }
  @include desktop {
    width: 97%;
    font-size: 1rem;
  }
}

.result__card__audio__player {
  width: 100%;
  transform: translateX(15px);
}

.result__card__content {
  display: grid;
  grid-template-columns: 100px 1fr 30px;
  grid-column-gap: 0.2rem;
  grid-row-gap: 1px;
  overflow: hidden;
}

.result__card__image {
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.result__card__image__tag {
  border-radius: 0.5rem;
  margin: auto;
}

.result__card__artist {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  padding: 0.15rem 0 0;
}

.result__card__track {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
}

.result__card__collection {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
}

.result__card__release-kind {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
}

.result__card__artist {
  grid-area: 1 / 2 / 2 / 3;
}

.result__card__audio-container {
  grid-area: 5 / 1 / 6 / 3;
}

.result__card__delete,
.result__card__add,
.result__card__up,
.result__card__down {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.result__card__add__img {
  @include tablet {
    height: 110%;
    transform: translateX(-15%);
  }
  @include desktop {
    height: 130%;
    transform: translateX(-20%);
  }
}

.result__card__delete,
.result__card__add {
  grid-area: 3 / 3 / 4 / 4;
  background: white;
}

.result__card__up {
  grid-area: 2 / 3 / 3 / 4;
}

.result__card__down {
  grid-area: 4 / 3 / 5 / 4;
}

.hidden {
  visibility: hidden;
}
