.search {
  display: flex;
  flex-flow: column;
  margin: 0.5rem 0.1rem 0.3rem 0.1rem;
}

.search-input {
  flex-grow: 1;
  border: 2px solid $main-color;
  @include three-round-borders;
  padding: 0 1rem;
  width: 100%;
  @include box-shadow;
}

.search__button {
  background: $main-color;
  @include three-round-borders;
  color: $light-color;
  margin: 0 0 0 0.5rem;
}

.search__options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0.2rem 0 0;
  @include xs {
    font-size: 0.8rem;
  }
}

.search__options__podcast__label,
.search__options__music__label,
.search__options__podcast__label,
.search__options__audiobook__label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.search__options__music,
.search__options__podcast,
.search__options__audiobook,
.search__options__limit {
  display: flex;
  align-items: center;
  label {
    margin: 0 0.3rem;
  }
}

.search__options__limit {
  display: flex;
  flex-flow: column;
  label {
    align-self: flex-start;
    @include tablet-desktop {
      align-self: center;
    }
  }
}

.search__options__limit-input {
  border: 2px solid $main-color;
  @include three-round-borders;
  width: fit-content;
}
