@import "normalize";
@import "variables/variables";
@import "mixins";
@import "header";
@import "footer";
@import "main";
@import "results";
@import "playlist";
@import "search";
@import "instructions";

:root {
  color: $text-color;
}
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-family: "Audiowide", cursive;
}

.displaynone {
  display: none;
}
