@import "normalize";
@import "variables/variables";
@import "mixins";
@import "header";
@import "footer";
@import "main";
@import "results";
@import "playlist";
@import "search";

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  //   font-family: "Permanent Marker", cursive;
  //   font-family: "Bangers", cursive;
  font-family: "Audiowide", cursive;
}
