$main-color: #8e8e93;
$text-color: #525254;
$light-color: white;
$accent-color1: rgb(255, 45, 85);
$accent-color2: rgb(88, 86, 214);
$accent-color3: rgb(175, 82, 222);
$danger: rgb(255, 59, 48);
$success: rgb(40, 205, 65);
